body
{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 40pt;
    text-align: center;
    background-color: #ffffff;
    line-height: normal !important;
}
.current_value
{
    display: inline-block;
}
