body
{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 32pt;
    text-align: center;
    background-color: #ffffff;
    line-height: normal !important;
}
h1
{
    font-size: 40pt;
    font-weight: bold;
    margin-bottom: 20px;
}
select
{
    -webkit-appearance: none;
    font-size: 32pt;
    text-align: center;
    padding: 5px 20px;
    margin: 2px 2px;
    border-radius: 30px;
}
option
{
    font-size: 32pt;
}
.section_div
{
    border:1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 30px 30px;
    /*display: inline-block;*/
}
.grid-container-general
{
    display: grid;
    grid-template-columns: auto auto;
}
.label
{
    text-align: right;
    margin-right: 40px;
}
.value
{
    text-align: left;
    margin-left: 40px;
}
#grid-item-general-errors
{
    grid-column: 1 / span 2;
}
.current_value
{
    display: inline;
}
.inc_dec_button
{
    font-size: 25pt;
    padding: 10px 30px;
    margin: 5px 0px;
    border-radius: 50px;
    cursor: pointer;
}
.set_button
{
    font-size: 25pt;
    padding: 30px 70px;
    margin: 20px 0px;
    border-radius: 50px;
    cursor: pointer;
    display: none;
}
.mode
{

}
.mode_button
{
    font-size: 25pt;
    padding: 10px 30px;
    margin: 5px 0px;
    border-radius: 3rem;
}
#current_hmu_currenterror_div
{
    color: red;
}
