[Unit]
Description=Production reader service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python production-reader.py
Restart=always

[Install]
WantedBy=multi-user.target
