{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Vent</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="{% static 'home_vent/favicon.ico' %}" sizes="any">
    <link rel="apple-touch-icon" href="{% static 'home_vent/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home_vent/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function getValue(fieldName) {
        url = "get/" + fieldName;
        $.getJSON(url,
            function(value) {
                updateValueInUI(key, result[key]);
            }
        );
    }

    function getAllValues() {
        url = "getAll";
        $.getJSON(url,
            function(result) {
                for(key in result) {
                    updateValueInUI(key, result[key]);
                }
                setTimeout("getAllValues()", 2000);
            }
        );
    }

    function doAction(action) {
        url = "action/" + action;
        $.getJSON(url,
            function(response) {
                /*if (response == "ok") {
                }*/
            }
        );
    }

    window.onload = function() {
        getAllValues();

        $("img").click(function() {
            getAllValues();
        });

        $("#set_away_btn").click(function() {
            doAction("manual");
            setTimeout('doAction("ventilation_level_0")', 1000)
        });
        $("#set_auto_btn").click(function() {
            doAction("auto");
        });
        $("#set_ventilation_level_1_btn").click(function() {
            doAction("manual");
            setTimeout('doAction("ventilation_level_1")', 1000)
        });
        $("#set_ventilation_level_2_btn").click(function() {
            doAction("manual");
            setTimeout('doAction("ventilation_level_2")', 1000)
        });
        $("#set_ventilation_level_3_btn").click(function() {
            doAction("manual");
            setTimeout('doAction("ventilation_level_3")', 1000)
        });

        $("#set_boost_end_btn").click(function() {
            doAction("boost_end");
        });
        $("#set_boost_10_min_btn").click(function() {
            doAction("boost_10_min");
        });
        $("#set_boost_20_min_btn").click(function() {
            doAction("boost_20_min");
        });
        $("#set_boost_30_min_btn").click(function() {
            doAction("boost_30_min");
        });
        $("#set_boost_60_min_btn").click(function() {
            doAction("boost_60_min");
        });
    }

    function formatSeconds(duration)
    {
        if (duration == 4294967295)
        {
            return ""
        }

        // Hours, minutes and seconds
        var hrs = Math.floor(duration / 3600);
        var mins = Math.ceil((duration % 3600) / 60);
        //var secs = ~~duration % 60;

        var r = "";

        if (hrs > 0) {
            r += "" + hrs + " h";
        }

        r += " " + mins + " m"
        return r;
    }

    function updateValueInUI(fieldName, value) {
        if (fieldName.includes("humidity") ||
            fieldName.includes("duty") ||
            fieldName.includes("flow") ||
            fieldName.includes("power_consumption") ||
            fieldName.includes("percentage") ||
            fieldName.includes("timer")) {
            value = parseFloat(value)
        }
        if (fieldName.includes("temperature")) {
            value += " °C";
        } else if (fieldName.includes("humidity")) {
            value += " %";
        } else if (fieldName.includes("flow")) {
            value += " m³";
        } else if (fieldName.includes("duty")) {
            value += " %";
        } else if (fieldName.includes("percentage")) {
            value += " %";
        }else if (fieldName.includes("power_consumption")) {
            value += " W";
        } else if (fieldName.includes("days_until_next_filter_change")) {
            value += " days";
        } else if (fieldName.includes("rmot")) {
            value = "RM  " + value + " °C";
        } else if (fieldName.includes("bypass_state")) {
            //value = "bypass " + value;
        } else if (fieldName.includes("timer")) {
            if ($("#comfoair_operating_mode_div").text() == "Boost") {
                value = formatSeconds(value);
            } else {
                value = ""
            }
        }

        $("#"+ fieldName.replace('.','_') + "_div").text(value);
    }

    </script>
</head>
<body>
    <div id="image_container_div">
        <img src="{% static 'home_vent/vent_exchange.png' %}">

        <!-- TOP -->
        <div id="comfoair_air_exhaust_temperature_div"></div>
        <div id="comfoair_air_exhaust_humidity_div"></div>
        <div id="comfoair_air_outdoor_temperature_div"></div>
        <div id="comfoair_air_outdoor_humidity_div"></div>

        <div id="comfoair_rmot_div"></div>

        <div id="comfoair_fan_exhaust_flow_div"></div>
        <div id="comfoair_fan_exhaust_duty_div"></div>
        
        <!-- MIDDLE -->
        <div id="comfoair_operating_mode_div"></div>
        <div id="comfoair_operating_mode2_div"></div>
        <div id="comfoair_ventilation_level_div"></div>
        <div id="comfoair_timer_1_div"></div>

        <div id="bypass_label_div">Bypass</div>
        <div id="comfoair_bypass_state_div"></div>
        <div id="comfoair_bypass_open_percentage_div"></div>

        <div id="comfoair_power_consumption_ventilation_div"></div>

        <div id="comfoair_days_until_next_filter_change_div"></div>

        <!-- BOTTOM -->
        <div id="comfoair_fan_supply_duty_div"></div>
        <div id="comfoair_fan_supply_flow_div"></div>
        
        <div id="comfoair_air_supply_temperature_div"></div>
        <div id="comfoair_air_supply_humidity_div"></div>
        <div id="comfoair_air_extract_temperature_div"></div>
        <div id="comfoair_air_extract_humidity_div"></div>
    </div>

    <br/>
    <div class="bottom_button_container">
        <div id="set_away_btn" class="mode_button">Away</div>
        <div id="set_auto_btn" class="mode_button">Auto</div>
        <div id="set_ventilation_level_1_btn" class="mode_button">M 1</div>
        <div id="set_ventilation_level_2_btn" class="mode_button">M 2</div>
        <div id="set_ventilation_level_3_btn" class="mode_button">M 3</div>
    </div>
    <div class="boost_button_container">
        <div id="set_boost_end_btn"    class="mode_button">B Off</div>
        <div id="set_boost_10_min_btn" class="mode_button">B 10m</div>
        <div id="set_boost_20_min_btn" class="mode_button">B 20m</div>
        <div id="set_boost_30_min_btn" class="mode_button">B 30m</div>
        <div id="set_boost_60_min_btn" class="mode_button">B 60m</div>
    </div>
</body>
</html>
