        <div id="{{ price.id }}" class="modify_price_div">
            <form action="{% url 'home-energy:modify_price' %}" method="post" class="modify_price_form">
                {% csrf_token %}
                {{ form.id }}
                {% include "home_energy/price_input_table.html" with form=form %}
                <input type="submit" value="Modify">
            </form>
            <form action="{% url 'home-energy:remove_price' %}" method="post" class="remove_price_form">
                {% csrf_token %}
                {{ form.id }}
                <input type="submit" value="Remove" onclick="return confirm('Remove this price?');">
            </form>
        </div>
