{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Heating</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="{% static 'home_heating/favicon.ico' %}" sizes="any">
    <link rel="apple-touch-icon" href="{% static 'home_heating/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'home_heating/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function getDayOfWeek(date) {
        return date.toLocaleString('en-us', {  weekday: 'long' });
    }

    function getFieldOutputName(fieldName) {
        outputFieldName = fieldName;
        if (fieldName.includes(".")) {
            outputFieldName = fieldName.split(".", 1)[0];
        }
        return outputFieldName;
    }

    function getEbusValue(circuit, fieldName) {
        url = "get/" + circuit + "/" + fieldName;
        $.getJSON(url,
            function(value) {
                updateValueInUI(circuit, fieldName, getFieldOutputName(fieldName), value);
            }
        );
    }

    function setEbusValue(circuit, fieldName, value) {
        url = "set/" + circuit + "/" + fieldName+ "/" + value;
        $.getJSON(url,
            function(response) {
                if (response == "done") {
                    updateValueInUI(circuit, fieldName, getFieldOutputName(fieldName), value);
                }
            }
        );
    }

    function incValue(circuit, fieldName, incValue) {
        currentValue = parseFloat($("#current_"+ circuit + "_" + fieldName + "_div").text());
        if (currentValue == "NaN") {
            return;
        }
        newValue = currentValue + incValue;
        setEbusValue(circuit, fieldName, newValue);
    }

    function getScheduleOldValue(circuit, fieldName) {
        return $("#current_"+ circuit + "_" + fieldName + "_div").text();
    }

    function getScheduleNewValue(circuit, fieldName) {
        newValue = "";
        for(i = 0; i < 6; i++) {
            if (i != 0) {
                newValue += ";";
            }
            newValue += $("#" + circuit + "_" + fieldName + "_" + i).val();
        }
        return newValue;
    }

    function setSchedule(circuit, fieldName, allDays) {
        oldValue = getScheduleOldValue(circuit, fieldName);
        newValue = getScheduleNewValue(circuit, fieldName);

        if (newValue != oldValue) {
            //TODO: validate new value
            n = allDays ? 7 : 1;
            for (i = 0; i < n; i++) {
                d = new Date();
                d.setDate(d.getDate() + i);
                setEbusValue(circuit, fieldName + "." +  getDayOfWeek(d), newValue);
            }
        }
    }

    function getAllEbusValues() {
        getEbusValue("700", "z1RoomTemp");
        getEbusValue("700", "z1DayTemp");
        getEbusValue("700", "z1NightTemp");
        getEbusValue("700", "DisplayedOutsideTemp");
        getEbusValue("700", "OpMode");
        getEbusValue("700", "z1Timer." + getDayOfWeek(new Date()));

        getEbusValue("700", "z1CoolingTemp");
        getEbusValue("700", "OpModeCooling");
        getEbusValue("700", "z1CoolingTimer." + getDayOfWeek(new Date()));

        getEbusValue("700", "HwcStorageTemp");
        getEbusValue("700", "HwcTempDesired");
        getEbusValue("700", "CylinderChargeHyst");
        getEbusValue("700", "HwcOpMode");
        getEbusValue("700", "hwcTimer." + getDayOfWeek(new Date()));

        getEbusValue("hmu", "State");
        getEbusValue("hmu", "Status01");
        getEbusValue("700", "Hc1ActualFlowTempDesired");
        getEbusValue("hmu", "CurrentConsumedPower");
        getEbusValue("hmu", "currenterror");
    }

    function updateValueInUI(circuit, fieldName, outputFieldName, newValue) {
        if (fieldName.includes("Timer")) {
            $("#current_"+ circuit + "_" + outputFieldName + "_div").text(newValue);
            times = newValue.split(";", 6);
            if (times.length == 6) {
                for(i = 0; i < times.length; i++) {
                    $("#" + circuit + "_" + outputFieldName + "_" + i).val(times[i]);
                }
            }
            hideShowSheduleButton(circuit, outputFieldName);
        } else if (fieldName.includes("OpMode")) {
            $("#current_"+ circuit + "_" + outputFieldName + "_div > *").removeClass("active");
            $("#current_"+ circuit + "_" + outputFieldName + "_" + newValue).addClass("active");
        } else {
            if (fieldName == ("z1RoomTemp")) {
                newValue = (Math.round(newValue * 100) / 100) + " °C";
            } else if (fieldName == ("State")) {
                newValue = newValue.split(";");
                newValue = newValue[newValue.length - 1];
                newValue = newValue.replace("_", " ");
            } else if (fieldName == ("z1DayTemp")) {
                newValue += " °C";
            } else if (fieldName == ("z1NightTemp")) {
                newValue += " °C";
            } else if (fieldName == ("z1CoolingTemp")) {
                newValue += " °C";
            }else if (fieldName == ("DisplayedOutsideTemp")) {
                newValue = (Math.round(newValue * 100) / 100) + " °C";
            } else if (fieldName == ("HwcStorageTemp")) {
                newValue += " °C";
            } else if (fieldName == ("HwcTempDesired")) {
                newValue += " °C";
            } else if (fieldName == ("CylinderChargeHyst")) {
                newValue += " °C";
            } else if (fieldName == ("Status01")) {
                newValue = newValue.split(";");
                newValue = newValue[0] + " - " + newValue[1] + " °C";
            } else if (fieldName == ("Hc1ActualFlowTempDesired")) {
                newValue = (Math.round(newValue * 100) / 100) + " °C";
            } else if (fieldName == ("CurrentConsumedPower")) {
                newValue = newValue * 1000 + " W";
            }else if (fieldName == ("currenterror")) {
                errors = newValue.split(";");
                newValue = ""
                for(i = 0; i < errors.length; i++) {
                    if (errors[i] != "-") {
                        newValue += errors[i] + " ";
                    }
                }
                if (newValue != "") {
                    newValue = "<i class=\"bi bi-shield-exclamation\"></i>" + newValue;
                }
            }
            $("#current_"+ circuit + "_" + outputFieldName + "_div").html(newValue);
        }
    }

    function uiAddOptionsForTimeSelect() {
        timeSelects = $("select");
        timeSelects.each(
            function(i) {
                $(this).append('<option value="-:-">--:--</option>');
                for(h = 0; h < 24; h++) {
                    for(m = 0; m < 60; m+=10) {
                        optionValue = h.toString().padStart(2, "0") + ":" + m.toString().padStart(2, "0");
                        $(this).append('<option value="' + optionValue +'">' + optionValue + '</option>');
                    }
                }
            }
        );
    }

    function hideShowShedule(id2, id3, id4, id5, id_br) {
        emptyVal = "-:-"
        if ($(id2).val() == emptyVal &&
            $(id3).val() == emptyVal &&
            $(id4).val() == emptyVal &&
            $(id5).val() == emptyVal) {
            $(id4).hide();
            $(id5).hide();
            $(id_br).hide();
        } else {
            $(id4).show();
            $(id5).show();
            $(id_br).show();
        }
    }

    function hideShowSheduleButton(circuit, fieldName) {
        oldValue = getScheduleOldValue(circuit, fieldName);
        newValue = getScheduleNewValue(circuit, fieldName);

        if (oldValue != newValue) {
            $("#set_" + circuit + "_" + fieldName).show();
        } else {
            $("#set_" + circuit + "_" + fieldName).hide();
        }
    }

    window.onload = function() {
        uiAddOptionsForTimeSelect();
        hideShowShedule("#700_z1Timer_2", "#700_z1Timer_3",
                        "#700_z1Timer_4", "#700_z1Timer_5",
                        "#700_z1Timer_br");
        hideShowShedule("#700_hwcTimer_2", "#700_hwcTimer_3",
                        "#700_hwcTimer_4", "#700_hwcTimer_5",
                        "#700_hwcTimer_br");
        hideShowShedule("#700_z1CoolingTimer_2", "#700_z1CoolingTimer_3",
                        "#700_z1CoolingTimer_4", "#700_z1CoolingTimer_5",
                        "#700_z1CoolingTimer_br");

        getAllEbusValues();

        $(".h1_title").click(function() {
            getAllEbusValues();
        });

        $("#dec_700_z1DayTemp").click(function() {
            incValue("700", "z1DayTemp", -0.5);
        });
        $("#inc_700_z1DayTemp").click(function() {
            incValue("700", "z1DayTemp", +0.5);
        });

        $("#dec_700_z1NightTemp").click(function() {
            incValue("700", "z1NightTemp", -0.5);
        });
        $("#inc_700_z1NightTemp").click(function() {
            incValue("700", "z1NightTemp", +0.5);
        });

        $("#current_700_OpMode_off").click(function() {
            setEbusValue("700", "OpMode", "off");
        });
        $("#current_700_OpMode_auto").click(function() {
            setEbusValue("700", "OpMode", "auto");
        });
        $("#current_700_OpMode_day").click(function() {
            setEbusValue("700", "OpMode", "day");
        });
        $("#current_700_OpMode_night").click(function() {
            setEbusValue("700", "OpMode", "night");
        });
        $("#700_z1Timer_schedule > select").on("change", function() {
            hideShowSheduleButton("700", "z1Timer");
        });
        $("#700_z1Timer_2").on("change", function() {
            hideShowShedule("#700_z1Timer_2", "#700_z1Timer_3",
                            "#700_z1Timer_4", "#700_z1Timer_5",
                            "#700_z1Timer_br");
        });
        $("#700_z1Timer_3").on("change", function() {
            hideShowShedule("#700_z1Timer_2", "#700_z1Timer_3",
                            "#700_z1Timer_4", "#700_z1Timer_5",
                            "#700_z1Timer_br");
        });
        $("#700_z1Timer_4").on("change", function() {
            hideShowShedule("#700_z1Timer_2", "#700_z1Timer_3",
                            "#700_z1Timer_4", "#700_z1Timer_5",
                            "#700_z1Timer_br");
        });
        $("#700_z1Timer_5").on("change", function() {
            hideShowShedule("#700_z1Timer_2", "#700_z1Timer_3",
                            "#700_z1Timer_4", "#700_z1Timer_5",
                            "#700_z1Timer_br");
        });
        $("#set_700_z1Timer").click(function() {
            setSchedule("700", "z1Timer", true);
        });

        <!-- Cooling -->
        $("#dec_700_z1CoolingTemp").click(function() {
            incValue("700", "z1CoolingTemp", -0.5);
        });
        $("#inc_700_z1CoolingTemp").click(function() {
            incValue("700", "z1CoolingTemp", +0.5);
        });
        $("#current_700_OpModeCooling_off").click(function() {
            setEbusValue("700", "OpModeCooling", "off");
        });
        $("#current_700_OpModeCooling_auto").click(function() {
            setEbusValue("700", "OpModeCooling", "auto");
        });
        $("#current_700_OpModeCooling_day").click(function() {
            setEbusValue("700", "OpModeCooling", "day");
        });
        $("#700_z1CoolingTimer_schedule > select").on("change", function() {
            hideShowSheduleButton("700", "z1CoolingTimer");
        });
        $("#700_z1CoolingTimer_2").on("change", function() {
            hideShowShedule("#700_z1CoolingTimer_2", "#700_z1CoolingTimer_3",
                            "#700_z1CoolingTimer_4", "#700_z1CoolingTimer_5",
                            "#700_z1CoolingTimer_br");
        });
        $("#700_z1CoolingTimer_3").on("change", function() {
            hideShowShedule("#700_z1CoolingTimer_2", "#700_z1CoolingTimer_3",
                            "#700_z1CoolingTimer_4", "#700_z1CoolingTimer_5",
                            "#700_z1CoolingTimer_br");
        });
        $("#700_z1CoolingTimer_4").on("change", function() {
            hideShowShedule("#700_z1CoolingTimer_2", "#700_z1CoolingTimer_3",
                            "#700_z1CoolingTimer_4", "#700_z1CoolingTimer_5",
                            "#700_z1CoolingTimer_br");
        });
        $("#700_z1CoolingTimer_5").on("change", function() {
            hideShowShedule("#700_z1CoolingTimer_2", "#700_z1CoolingTimer_3",
                            "#700_z1CoolingTimer_4", "#700_z1CoolingTimer_5",
                            "#700_z1CoolingTimer_br");
        });
        $("#set_700_z1CoolingTimer").click(function() {
            setSchedule("700", "z1CoolingTimer", true);
        });

        <!-- Water -->
        $("#dec_700_HwcTempDesired").click(function() {
            incValue("700", "HwcTempDesired", -1);
        });
        $("#inc_700_HwcTempDesired").click(function() {
            incValue("700", "HwcTempDesired", +1);
        });

        $("#dec_700_CylinderChargeHyst").click(function() {
            incValue("700", "CylinderChargeHyst", -1);
        });
        $("#inc_700_CylinderChargeHyst").click(function() {
            incValue("700", "CylinderChargeHyst", +1);
        });

        $("#current_700_HwcOpMode_off").click(function() {
            setEbusValue("700", "HwcOpMode", "off");
        });
        $("#current_700_HwcOpMode_auto").click(function() {
            setEbusValue("700", "HwcOpMode", "auto");
        });
        $("#current_700_HwcOpMode_day").click(function() {
            setEbusValue("700", "HwcOpMode", "day");
        });
        $("#700_hwcTimer_schedule > select").on("change", function() {
            hideShowSheduleButton("700", "hwcTimer");
        });
        $("#700_hwcTimer_2").on("change", function() {
            hideShowShedule("#700_hwcTimer_2", "#700_hwcTimer_3",
                            "#700_hwcTimer_4", "#700_hwcTimer_5",
                            "#700_hwcTimer_br");
        });
        $("#700_hwcTimer_3").on("change", function() {
            hideShowShedule("#700_hwcTimer_2", "#700_hwcTimer_3",
                            "#700_hwcTimer_4", "#700_hwcTimer_5",
                            "#700_hwcTimer_br");
        });
        $("#700_hwcTimer_4").on("change", function() {
            hideShowShedule("#700_hwcTimer_2", "#700_hwcTimer_3",
                            "#700_hwcTimer_4", "#700_hwcTimer_5",
                            "#700_hwcTimer_br");
        });
        $("#700_hwcTimer_5").on("change", function() {
            hideShowShedule("#700_hwcTimer_2", "#700_hwcTimer_3",
                            "#700_hwcTimer_4", "#700_hwcTimer_5",
                            "#700_hwcTimer_br");
        });
        $("#set_700_hwcTimer").click(function() {
            setSchedule("700", "hwcTimer", true);
        });
    }

    </script>
</head>
<body>
    <div class="section_div">
        <h1 class="h1_title">Heating</h1>
        <div class="grid-container">
            <!-- row 1 -->
            <div class="grid-item label-left">

            </div>
            <div class="grid-item label">
                <i class="bi bi-thermometer-half"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_z1RoomTemp_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">

            </div>
            <!-- row 2 -->
            <div class="grid-item label-left">
                <input type="button" id="dec_700_z1DayTemp" class="inc_dec_button" value="-"/>
            </div>
            <div class="grid-item label">
                <i class="bi bi-thermometer-sun"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_z1DayTemp_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="inc_700_z1DayTemp"  class="inc_dec_button" value="+"/>
            </div>
            <!-- row 3 -->
            <div class="grid-item label-left">
                <input type="button" id="dec_700_z1NightTemp"  class="inc_dec_button" value="-"/>
            </div>
            <div class="grid-item label">
                <i class="bi bi-thermometer-snow"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_z1NightTemp_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="inc_700_z1NightTemp"  class="inc_dec_button" value="+"/>
            </div>
            <!-- row 4 -->
            <div class="grid-item label-left">

            </div>
            <div class="grid-item label">
                <i class="bi bi-house"></i>
                <i class="bi bi-tree"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_DisplayedOutsideTemp_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">

            </div>
            <!-- row 5 -->
            <div id="grid-item-heating-mode" class="grid-item">
                <div id="current_700_OpMode_div" class="btn-group mode" role="group">
                    <button type="button" id="current_700_OpMode_off"   class="btn btn-secondary mode_button">Off</button>
                    <button type="button" id="current_700_OpMode_auto"  class="btn btn-secondary mode_button">Auto</button>
                    <button type="button" id="current_700_OpMode_day"   class="btn btn-secondary mode_button">Day</button>
                    <button type="button" id="current_700_OpMode_night" class="btn btn-secondary mode_button">Night</button>
                </div>
            </div>
            <!-- row 6 -->
            <div class="grid-item label-left">
                <i class="bi bi-clock"></i>
            </div>
            <div id="grid-item-heating-schedule" class="grid-item">
                <div id="current_700_z1Timer_div" class="current_value" style="display: none;"></div>
                <div id="700_z1Timer_schedule">
                    <select id="700_z1Timer_0"></select>
                    <select id="700_z1Timer_1"></select>
                    <br/>
                    <select id="700_z1Timer_2"></select>
                    <select id="700_z1Timer_3"></select>
                    <br/>
                    <select id="700_z1Timer_4"></select>
                    <select id="700_z1Timer_5"></select>
                    <div id="700_z1Timer_br"></div>
                </div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="set_700_z1Timer" class="set_button" value="Set"/>
            </div>
        </div>
    </div>

    <!-- TODO: show humidity -->

    <div class="section_div">
        <h1 class="h1_title">Cooling</h1>
        <div class="grid-container">
            <!-- row 1 -->
            <div class="grid-item label-left">
                <input type="button" id="dec_700_z1CoolingTemp" class="inc_dec_button" value="-"/>
            </div>
            <div class="grid-item label">
                <i class="bi bi-thermometer-snow"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_z1CoolingTemp_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="inc_700_z1CoolingTemp"  class="inc_dec_button" value="+"/>
            </div>
            <!-- row 2 -->
            <div id="grid-item-heating-mode" class="grid-item">
                <div id="current_700_OpModeCooling_div" class="btn-group mode" role="group">
                    <button type="button" id="current_700_OpModeCooling_off"   class="btn btn-secondary mode_button">Off</button>
                    <button type="button" id="current_700_OpModeCooling_auto"  class="btn btn-secondary mode_button">Auto</button>
                    <button type="button" id="current_700_OpModeCooling_day"   class="btn btn-secondary mode_button">Day</button>
                </div>
            </div>
            <!-- row 3 -->
            <div class="grid-item label-left">
                <i class="bi bi-clock"></i>
            </div>
            <div id="grid-item-cooling-schedule" class="grid-item">
                <div id="current_700_z1CoolingTimer_div" class="current_value" style="display: none;"></div>
                <div id="700_z1CoolingTimer_schedule">
                    <select id="700_z1CoolingTimer_0"></select>
                    <select id="700_z1CoolingTimer_1"></select>
                    <br/>
                    <select id="700_z1CoolingTimer_2"></select>
                    <select id="700_z1CoolingTimer_3"></select>
                    <br/>
                    <select id="700_z1CoolingTimer_4"></select>
                    <select id="700_z1CoolingTimer_5"></select>
                    <div id="700_z1CoolingTimer_br"></div>
                </div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="set_700_z1CoolingTimer" class="set_button" value="Set"/>
            </div>
        </div>
    </div>

    <div class="section_div">
        <h1 class="h1_title">Water</h1>
        <div class="grid-container">
            <!-- row 1 -->
            <div class="grid-item label-left">

            </div>
            <div class="grid-item label">
                <i class="bi bi-water"></i>
                <i class="bi bi-thermometer-half"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_HwcStorageTemp_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">

            </div>
            <!-- row 2 -->
            <div class="grid-item label-left">
                <input type="button" id="dec_700_HwcTempDesired" class="inc_dec_button" value="-"/>
            </div>
            <div class="grid-item label">
                <i class="bi bi-heart"></i>
                <i class="bi bi-thermometer-half"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_HwcTempDesired_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="inc_700_HwcTempDesired" class="inc_dec_button" value="+"/>
            </div>
            <!-- row 3 -->
            <div class="grid-item label-left">
                <input type="button" id="dec_700_CylinderChargeHyst" class="inc_dec_button" value="-"/>
            </div>
            <div class="grid-item label">
                <i class="bi bi-moisture"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_CylinderChargeHyst_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="inc_700_CylinderChargeHyst" class="inc_dec_button" value="+"/>
            </div>
            <!-- row 4 -->
            <div id="grid-item-water-mode" class="grid-item">
                <div id="current_700_HwcOpMode_div" class="mode btn-group" role="group">
                    <button type="button" id="current_700_HwcOpMode_off"   class="btn btn-secondary mode_button">Off</button>
                    <button type="button" id="current_700_HwcOpMode_auto"  class="btn btn-secondary mode_button">Auto</button>
                    <button type="button" id="current_700_HwcOpMode_day"   class="btn btn-secondary mode_button">Day</button>
                </div>
            </div>
            <!-- row 5 -->
            <div class="grid-item label-left">
                <i class="bi bi-clock"></i>
            </div>
            <div id="grid-item-water-schedule" class="grid-item">
                <div id="current_700_hwcTimer_div" class="current_value" style="display: none;"></div>
                <div id="700_hwcTimer_schedule">
                    <select id="700_hwcTimer_0"></select>
                    <select id="700_hwcTimer_1"></select>
                    <br/>
                    <select id="700_hwcTimer_2"></select>
                    <select id="700_hwcTimer_3"></select>
                    <br/>
                    <select id="700_hwcTimer_4"></select>
                    <select id="700_hwcTimer_5"></select>
                    <div id="700_hwcTimer_br"></div>
                </div>
            </div>
            <div class="grid-item value-right">
                <input type="button" id="set_700_hwcTimer"  class="set_button" value="Set"/>
            </div>
        </div>

        <!-- TODO: show Legionella Day + Hour -->
    </div>

    <div class="section_div">
        <div class="grid-container">
            <!-- row 1 -->
            <div class="grid-item label-left">

            </div>
            <div class="grid-item label">
                <i class="bi bi-chat-left-text"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_hmu_State_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">

            </div>
            <!-- row 2 -->
            <div class="grid-item label-left">

            </div>
            <div class="grid-item label">
                <i class="bi bi-repeat"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_hmu_Status01_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">

            </div>
            <!-- row 3 -->
            <div class="grid-item label-left">

            </div>
            <div class="grid-item label">
                <i class="bi bi-heart"></i>
                <i class="bi bi-repeat"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_700_Hc1ActualFlowTempDesired_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">

            </div>
            <!-- row 4 -->
            <div class="grid-item label-left">

            </div>
            <div class="grid-item label">
                <i class="bi bi-speedometer"></i>&nbsp;
            </div>
            <div class="grid-item value">
                <div id="current_hmu_CurrentConsumedPower_div" class="current_value"></div>
            </div>
            <div class="grid-item value-right">

            </div>
            <!-- row 5 -->
            <div id="grid-item-general-errors" class="grid-item">
                <div id="current_hmu_currenterror_div" class="current_value"></div>
            </div>
        </div>
    </div>
</body>
</html>
