{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Heating</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="{% static 'home_heating/favicon.ico' %}" sizes="any">
    <link rel="apple-touch-icon" href="{% static 'home_heating/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'home_heating/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function getDayOfWeek(date) {
        return date.toLocaleString('en-us', {  weekday: 'long' });
    }

    function getFieldOutputName(fieldName) {
        outputFieldName = fieldName;
        if (fieldName.includes(".")) {
            outputFieldName = fieldName.split(".", 1)[0];
        }
        return outputFieldName;
    }

    function getEbusValue(circuit, field) {
        url = "get/" + circuit + "/" + field;
        $.getJSON(url,
            function(value) {
                updateValueInUI(circuit, getFieldOutputName(field), value);
            }
        );
    }

    function setEbusValue(circuit, field, value) {
        url = "set/" + circuit + "/" + field+ "/" + value;
        $.getJSON(url,
            function(response) {
                if (response == "done") {
                    updateValueInUI(circuit, getFieldOutputName(field), value);
                }
            }
        );
    }

    function incValue(circuit, field, incValue) {
        currentValue = parseFloat($("#current_"+ circuit + "_" + field + "_div").text());
        if (currentValue == "NaN") {
            return;
        }
        newValue = currentValue + incValue;
        setEbusValue(circuit, field, newValue);
    }

    function getAllEbusValues() {
        getEbusValue("700", "z1RoomTemp");
        getEbusValue("700", "z1DayTemp");
        getEbusValue("700", "z1NightTemp");
        getEbusValue("700", "z1ActualRoomTempDesired");
        getEbusValue("700", "DisplayedOutsideTemp");
        getEbusValue("700", "DisplayedOutsideTemp");
        getEbusValue("700", "z1Timer." + getDayOfWeek(new Date()));

        getEbusValue("700", "HwcStorageTemp");
        getEbusValue("700", "HwcTempDesired");
        getEbusValue("700", "CylinderChargeHyst");
        getEbusValue("700", "HwcOpMode");
        getEbusValue("700", "hwcTimer." + getDayOfWeek(new Date()));

        getEbusValue("hmu", "State");
        getEbusValue("hmu", "currenterror");
    }

    function updateValueInUI(circuit, field, newValue) {
        $("#current_"+ circuit + "_" + outputFieldName + "_div").text(newValue);
    }

    getAllEbusValues();

    window.onload = function() {
        $("h2").click(function() {
            getAllEbusValues();
        });

        $("#dec_700_z1DayTemp").click(function() {
            incValue("700", "z1DayTemp", -0.5);
        });
        $("#inc_700_z1DayTemp").click(function() {
            incValue("700", "z1DayTemp", +0.5);
        });

        $("#dec_700_z1NightTemp").click(function() {
            incValue("700", "z1NightTemp", -0.5);
        });
        $("#inc_700_z1NightTemp").click(function() {
            incValue("700", "z1NightTemp", +0.5);
        });

        $("#dec_700_HwcTempDesired").click(function() {
            incValue("700", "HwcTempDesired", -1);
        });
        $("#inc_700_HwcTempDesired").click(function() {
            incValue("700", "HwcTempDesired", +1);
        });

        $("#dec_700_CylinderChargeHyst").click(function() {
            incValue("700", "CylinderChargeHyst", -1);
        });
        $("#inc_700_CylinderChargeHyst").click(function() {
            incValue("700", "CylinderChargeHyst", +1);
        });
    }

    </script>
</head>
<body>
    <h2>Heating</h2>
    Room temp: <div id="current_700_z1RoomTemp_div" class="current_value"></div>
    <br/>

    <input type="button" id="dec_700_z1DayTemp" value="-"/>
    Day temp: <div id="current_700_z1DayTemp_div" class="current_value"></div>
    <input type="button" id="inc_700_z1DayTemp" value="+"/>
    <br/>

    <input type="button" id="dec_700_z1NightTemp" value="-"/>
    Night temp: <div id="current_700_z1NightTemp_div" class="current_value"></div>
    <input type="button" id="inc_700_z1NightTemp" value="+"/>
    <br/>

    Desired temp: <div id="current_700_z1ActualRoomTempDesired_div" class="current_value"></div><br/>
    Outside Temp: <div id="current_700_DisplayedOutsideTemp_div" class="current_value"></div><br/>
    Shedule: <div id="current_700_z1Timer_div" class="current_value"></div><br/>
    <!-- TODO: show humidity -->

    <h2>Water</h2>
    Current temp: <div id="current_700_HwcStorageTemp_div" class="current_value"></div>
    <br/>

    <input type="button" id="dec_700_HwcTempDesired" value="-"/>
    Desired temp: <div id="current_700_HwcTempDesired_div" class="current_value"></div>
    <input type="button" id="inc_700_HwcTempDesired" value="+"/>
    <br/>

    <input type="button" id="dec_700_CylinderChargeHyst" value="-"/>
    Hyst: <div id="current_700_CylinderChargeHyst_div" class="current_value"></div>
    <input type="button" id="inc_700_CylinderChargeHyst" value="+"/>
    <br/>

    Mode: <div id="current_700_HwcOpMode_div" class="current_value"></div><br/>
    Shedule: <div id="current_700_hwcTimer_div" class="current_value"></div><br/>

    <h2>General</h2>
    State: <div id="current_hmu_State_div" class="current_value"></div><br/>
    Error: <div id="current_hmu_currenterror_div" class="current_value"></div><br/>
</body>
</html>
