body
{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 30pt;
    text-align: center;
    background-color: #171216;
    line-height: normal !important;
    color: #f4f4f9;
}
h1
{
    font-size: 50pt;
}
form
{
    display: inline;
}
input[type=date]
{
    width: 350px;
    padding: 10px 20px;
    margin: 10px 0 10px 30px;
    border-radius: 30px;
    text-align: center;
}
input[type=text]
{
    width: 150px;
    padding: 10px 20px;
    margin: 5px 40px 5px 10px;
    border-radius: 30px;
    text-align: right;
}
input[type=submit], button
{
    padding: 30px 50px;
    border-radius: 50px;
}
.add_price_div
{
    border:1px solid #f4f4f9;
    border-radius: 30px;
    padding: 10px 0px 10px 0px;
    margin: 0px 30px 0px 30px;
}
.modify_price_div
{
    border:1px solid #f4f4f9;
    border-radius: 30px;
    padding: 10px 0px 10px 0px;
    margin: 0px 30px 30px 30px;
}
.starttime_div
{
    text-align: left;
}
.modify_price_form
{

}
.remove_price_form
{

}
.form_input_table
{
    /*display: inline;*/
    margin: 0 auto 30px auto;
    text-align: left;
}

label[for=id_down_high]
{
    color: #009ff5;
}
label[for=id_down_low]
{
    color: #0077b8;
}
label[for=id_up_high]
{
    color: #8cea5d;
}
label[for=id_up_low]
{
    color: #4cb517;
}
label[for=id_peak_down]
{
    color: #dc5665;
}
label[for=id_gas]
{
    color: #cc1467;
}
