/* color palette
  https://coolors.co/
--up: #8cea5d;
--black: #171216;
--down: #009ff5;
--maximum-yellow-red: #ffc95c;
--white: #f4f4f9;
--yellow: #f7b32b;
--dark-blue: #2266bf;
--peak: #dc5665
--gas: #cc1467
--solar-consumption: #78bc61
*/
body
{
    font-family: Arial, Tahoma, sans-serif;
    text-align: center;
    background-color: #171216;
    line-height: normal !important;
}
.current_usage_us
{
    font-size: 160pt;
    font-weight: 900;
    color: #8cea5d;
}
.current_usage_ds_normal
{
    font-size: 160pt;
    font-weight: 900;
    color: #009ff5;
}
.current_usage_ds_high
{
    font-size: 160pt;
    font-weight: 900;
    color: #ffc95c;
}
.current_usage_ds_very_high
{
    font-size: 160pt;
    font-weight: 900;
    color: #dc5665;
}
.current_prod
{
    display: inline-block;
    padding: 0px 50px 0px 50px;
    font-size: 40pt;
    font-weight: 900;
    color: #f7b32b;
}
.current_peak
{
    display: inline-block;
    padding: 0px 50px 0px 50px;
    font-size: 40pt;
    font-weight: 900;
    color: #dc5665;
}
.chart
{
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.mode {
    width: 720px;
    margin-top: 30px;
}
.mode_button
{
    font-size: 25pt;
}
.controls
{
    width: 720px;
    margin-top: 10px;
}
.day_date
{
    font-size: 30pt;
    width: 40%;
}
.control_button
{
    font-size: 30pt;
}
.data_fields
{
    margin-left: auto;
    margin-right: auto;
}
.data_field
{
    padding: 50px 50px 0px 50px;
    font-size: 120pt;
    font-weight: 900;
    text-align: left;
}
.data_field_label
{
    padding: 0px 50px 30px 50px;
    font-size: 20pt;
    text-align: left;
}
#data_field_total_down_div
{
    color: #009ff5;
}
#data_field_total_down_label_div
{
    color: #009ff5;
}
#data_field_total_up_div
{
    color: #8cea5d;
}
#data_field_total_up_label_div
{
    color: #8cea5d;
}
#data_field_peak_down_div
{
    color: #dc5665;
}
#data_field_peak_down_label_div
{
    color: #dc5665;
}
#data_field_total_prod_div
{
    color: #f7b32b;
}
#data_field_total_prod_label_div
{
    color: #f7b32b;
}
#data_field_total_cons_div
{
    color: #2266bf;
}
#data_field_total_cons_label_div
{
    color: #2266bf;
}
#data_field_total_gas_div
{
    color: #cc1467;
}
#data_field_total_gas_label_div
{
    color: #cc1467;
}
#data_field_total_solar_cons_div
{
    color: #78bc61;
}
#data_field_total_solar_cons_label_div
{
    color: #78bc61;
}
